@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutRed";}

@model Workspace.ViewModels.vmHomeIndex;
<style>
    img {
        max-width: 100%;
        height: auto;
        vertical-align: bottom;
    }
</style>
<section id="intro" class="intro-well d-flex flex-row justify-content-center" style="padding-top: 60px;padding-bottom: 65px;">
    <div class="d-flex flex-column justify-content-center">
        <h1>DeCentralized Platforms</h1>
        <!-- <h1>Adventures in Digital Transformation<h1> -->
        <div id="avantCust" class="d-flex d-row" style="margin-top: 20px;margin-bottom: 7px;">
            Creating Digital EcoSystems
        </div>
    </div>
</section>
<section style="padding-top: 10px">
     <div class="d-flex justify-content-center">
       
        <p class="icntitle" style="color: #00bcf2; font-weight: 500; padding-top: 20px; margin-bottom:5px; font-size: 38px">Distributed Ledgers</p>
    </div>
</section>
        @* <div class="d-flex icntitle =flex-row justify-content-centepadding-top: 20px;cntitle m-5 p-5" style="font-size: 38px">Distributed Ledger</span> *@
<section>
    <div class=d-flex>
        <div class="flex-row" style="width: 45%"> 
          <div class="d-flex">
            <img src="~/Red/img/wordCloud.png" class="img-fluid">
          </div>
          <div class="d-flex">
            <img src="~/Red/img/Ether.png" class="img-fluid">
          </div> 
          <div class="d-flex">
            <img src="~/Red/img/Azure.png" class="img-fluid">
          </div>   
        </div> 
        <div style="width: 55%"> 
            <h4>Title Section</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</section>
<footer class="d-flex justify-content-center" style="padding-top: 25px; padding-bottom: 25px">
    <p>
        AvantTek Solutions Inc.  New York, NY
    </p>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script>
    $(function () {
        $(window).on("load resize", function () {
            $(".fill-screen").css("height", window.innerHeight);
        });
    });
</script>