@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutRed";}

@model Workspace.ViewModels.vmHomeIndex
<!--/////////// HEADER SECTION //////////-->
    <section id="intro" style="padding-bottom: 40px;padding-top: ‒20;padding-top: 20px;">
    <div class="container" style="padding-top: 0; padding-bottom: 0px;">
        <div class="intro-well wow animated bounceIn" style="
        padding-top: 0px;
        padding-bottom: 0;
        top: 0px;
        margin-top: 52px;
        margin-bottom: 27px;
        ">
            <div class="row">
                <div class="col-sm-12">
                    <span style="
                        margin-bottom: 0px;
                         color: white;>Hello AvantTek !!</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=".col-sm-6">
                <h4 style="text-align: center;padding-bottom: 0px;margin-bottom: 20px;color: white;">Digital Transformation --   Frameworks and Tools</h4>
            </div>
        <div class="row">
            <div class=".col-sm-6">
                <h4 style="text-align: center;padding-bottom: 25px;margin-top: 0px;margin-bottom: 0px;color: white;">Overviews &amp; Drill-Downs</h4>
            </div>
        </div></div>
    </div>
</section>
<!-- LAUNCH VERSION COMMENT START -->
<!--////////// FEATURES SECTION ////////// -->
<!--////////// NEWSLETTER SECTION ////////// -->
<!--////////// DOWNLOAD SECTION ////////// -->
<!--////////// FOOTER SECTION ////////// -->
<footer>
    <p>
        Copyright © 2015 Flati. Made with <i class="fa fa-heart footer-heart"></i> by Themeberry
    </p>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script>
    $(function () {
        $(window).on("load resize", function () {
            $(".fill-screen").css("height", window.innerHeight);
        });
    });
</script>
