@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutRed";}

@model Workspace.ViewModels.vmHomeIndex
<!--/////////// HEADER SECTION //////////-->
    <section id="intro" style="padding-bottom: 0px;">
    <div class="container" style="padding-bottom: 0px;padding-top: 0px;height: 350px;">
        <div class="intro-well wow animated bounceIn" style="height: 350px;padding-top: 50px;">
            <div class="row">
                <div class="col">
                    <h1 style="margin-bottom:35px;">Hello AvantTek !!</h1>
                    <!-- <a class="btn btn-info" href="/Home/AvantTekAlpha" id="HomeLink">To The Portal</a>; -->
                </div>
            </div>  
            <div class="row" style="padding-bottom: 0px;">
                <div class="col">
                    <h2 style="margin-bottom: 10px;">Technology Trends</h2>
                </div>
            </div><div class="row" style="padding-bottom: 0px;">
                <div class="col">
                    <h2 style="margin-bottom: 10px;">Overviews -- Drill Downs</h2>
                </div>
            </div>
        </div>
    </div><!-- /container -->
</section>
<!-- LAUNCH VERSION COMMENT START -->
<!--////////// FEATURES SECTION ////////// -->
<!--////////// NEWSLETTER SECTION ////////// -->
<!--////////// DOWNLOAD SECTION ////////// -->
<!--////////// FOOTER SECTION ////////// -->
<footer>
    <p>
        Copyright © 2015 Flati. Made with <i class="fa fa-heart footer-heart"></i> by Themeberry
    </p>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script>
    $(function () {
        $(window).on("load resize", function () {
            $(".fill-screen").css("height", window.innerHeight);
        });
    });
</script>
