@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutRed";}

@model Workspace.ViewModels.vmHomeIndex
<!--/////////// HEADER SECTION //////////-->

<section id="intro" style="border-style: solid;
                            border-color: #F1F1FF;
                            border-top-width: 7px;
                            border-left-width: 7px;
                            border-bottom-width: 15px;
                            border-right-width: 7px;">
    <div class="d-flex" style="
        padding-bottom: 10px;
        padding-top: 25px;">
            <div class="intro-well wow animated bounceIn">
                <div class="d-flex">
                    <div>
                        <h1>The AvantTek Solution</h1>
                    </div>
                </div>
            </div>
    </div>
</section>
<!-- LAUNCH VERSION COMMENT START -->
<!-- ////////// FEATURES SECTION ////////// -->
<section id="features">
    <div style="visibility: visible; animation-name: fadeIn;" class="wow fadeIn  animated">
                <!-- <div class="d-flex">
                    <h1 Style="padding-bottom: 35px; color: black;font-size: 21px;font-weight: 300;">AvantTek  --  All About Advanced Technology</h1>
                 </div> -->
                 <div class="d-flex justify-content-center">  
                     <h1 style="padding-bottom: 35px; color: black; font-size: 27px;">Exploring the Frontiers of Technology</h1>
                </div>
    </div>
    <div class="d-flex justify-content-center">         
                <img src="~/Red/img/GreenCloud$02.png" alt="Tools" class=img-fluid/>      
    </div>
    <div class="d-flex justify-content-center img-fluid">
            <img src="~/Red/img/redEthBeta$01.png" alt="Ethereum" />      
    </div>
     <div class="d-flex justify-content-center">    
                <img src="~/Red/img/AzureBeta$01.png" alt="Azure" class=img-fluid />   
     </div>   
</section>
<!--////////// NEWSLETTER SECTION ////////// -->
<section id="newsletter" ng-app="app-email" class="d-flex flex-column">
    <div class="wow animated fadeInDown d-flex d-column justify" ng-controller="emailController as vm">
        <div class="d-flex justify-content-center">
            <h3>Inviting You To The Launch of AvantTek.com</h3>
        </div>
        <div class="d-flex justify-content-center">
            <div ID="emailtest" style="padding-top: 75px" class="ng-app">
                <form novalidate name="myForm" class="form-inline" ng-submit="vm.SendGridAlphaInterested(vm.email.text)">
                            <input type="email" name="input" class="input-sm ng-pristine ng-empty ng-valid-email ng-invalid ng-invalid-required ng-touched" ng-model="vm.email.text" required="" style="
                                height: 45px; width: 190px;">
                            <button ng-click='validateEmail()' type="submit" class="btn btn-primary">Send Me Updates</button>
                </form>
     <!--  -->       </div>
        </div>
        <div class="d-flex justify-content-center">
            <div id="emErr" ng-show="myForm.input.$invalid && myForm.input.$dirty" style="font-size: 20px">A valid email is required</div>
        </div>
    </div>
</section>
<!--////////// DOWNLOAD SECTION ////////// -->
<!-- <section id="download">
    <div class="container wow fadeIn animated">
        <div class="row">
            <div class="col-md-4">
            <h3>Ea eam mollis phaedrum, eam at appareat consetetur repudiandae,</h3>
              <a classbtn btn-primary" href="#"><li class="fa fa-apple fa-lg"></li>&nbsp;&nbsp;Download from Appstore</a>
            </div>-->
            <!-- <div class="col-md-8">
                    <img src="~/red/img/iphone2.jpg" class="img-responsive" alt="picture">
                </div>
        </div> -->
        <!-- /row -->
   <!--  </div>
</section> -->
<!--////////// FOOTER SECTION ////////// -->
@*<div class="container-fluid">
        <div class="row">
            <div class="fill-screen" style="background-image: url(/Red/img/Alpha/HomeCode.PNG)">
            </div>
        </div>

    </div*@>
<footer class="d-flex justify-content-center">
    <p>
        Copyright © 2015 Flati. Made with <i class="fa fa-heart footer-heart"></i> by Themeberry
    </p>
</footer>justify-content-center
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script>
    $(function () {
        $(window).on("load resize", function () {
            $(".fill-screen").css("height", window.innerHeight);
        });
    });
</script>
