@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutRed";}
@model Workspace.ViewModels.vmHomeIndex
<!--/////////// HEADER SECTION //////////-->
<section id="intro" style="border-style: solid;
                            border-color: #F1F1FF;
                            border-top-width: 7px;
                            border-left-width: 7px;
                            border-bottom-width: 15px;
                            border-right-width: 7px;">

<div class="d-flex" style="
    padding-bottom: 10px;
    padding-top: 25px;">
            <div class="intro-well wow animated bounceIn">
                <div class="d-flex">
                    <div>
                        <h1>Hello AvantTek !!</h1>
                    </div>
                </div>
                <div class="d-flex">
                    <div>
                        <h2 style="margin-top: 20px;margin-bottom: 7px;">Adventures in Digital Transformation</h2>  
                    </div>
                </div>
                <div class="d-flex">
                    <div>
                        <h2 style="
                             margin-bottom: 25px;
                             margin-top: 0px;">Frameworks  &amp;  Tools --  Overviews  &  Drill-Downs</h2> 
                </div>
             </div>
         </div>
    </div>
</section>
<!--////////// FEATURES SECTION ////////// -->
<section id="features">
    <div style="visibility: visible; animation-name: fadeIn;" class="wow fadeIn  animated">
        <div class="d-flex">
            <h1 style="padding-bottom: 35px; color: black; font-size: 27px;">Exploring the Frontiers of Technology</h1>
        </div>
    </div>
    <div class="dflex" style="margin-bottom: 30px">
        <div class="fadeInLeft animated" data-wow-delay="0.1s">
            <div class="iconbox">
                <a href="#" class="icn-1 d-flexbox">Platforms</a>
            </div>
            <div class="d-flex">
                <p class="icntitle">Platforms</p>
                <p class="icnp">Growth of cloud adoption continues to accelerate rapidly. The constant innovation in ways to deliver on-demand access to scalable computing is a foundation of the digital eco-sphere</p>
            </div><!-- /col-md-4 -->
            <div class="d-flex fade-inLe ft animated data-wow-delay="0.2s">
                <div class="iconbox">
                    <a href="#" class="icn-2">Modern Web Solutions</a>
                </div> 
                <p class="icntitle">Modern Web Solutions</p>
                <p class="icnp">Platforms, languages, operating systems, and developer tools have evolved and matured in exciting ways.  Today's modern web is all about richly functional front-ends connected to powerful servers. They are cloud-hosted and scalable, cross-platform, and modular.</p>
            </div>
            <div class="d-flex wow fadeInLeft animated data-wow-delay="0.3s">
                <div class="iconbox">
                    <a href="#" class="icn-3">Distributed Apps</a>
                </div>
                <p class="icntitle">Distributed Apps</p>
                <p class="icnp">D-Apps are "smart contract" code modules integrated into blockchain platforms.   They create solutions beyond conventional crypto-currency exchanges.  In turn,  D-apps benefit from the blockchain fault tolerant network, cryptography-based security features, and the immutable distributed transaction ledger.</p>
            </div>
        </div><!-- /row -->
    </div>
</section>
<!--////////// NEWSLETTER SECTION ////////// -->
<section id="newsletter" style="background: maroon;padding-top: 17px;padding-bottom: 0;">
    <div class="container wow animated fadeInDown">     
       <div class="row">
                <div class="col-sm-12">
                    <div Style="padding-bottom: 35px; color: white;font-size: 24px;font-weight: 300">AvantTek  --  All About Advanced Technology</div>
                </div>   
       </div>
     </div>
</section>

<!--////////// FOOTER SECTION ////////// -->
<footer>
    <p>
        Copyright © 2015 Flati. Made with <i class="fa fa-heart footer-heart"></i> by Themeberry
    </p>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script>
    $(function () {
        $(window).on("load resize", function () {
            $(".fill-screen").css("height", window.innerHeight);
        });
    });
</script>
