@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutRed";}
@model Workspace.ViewModels.vmHomeIndex
<!--/////////// HEADER SECTION //////////-->
<section id="intro" style="border-style: solid;
                            border-color: #F1F1FF;
                            border-top-width: 7px;
                            border-left-width: 7px;
                            border-bottom-width: 15px;
                            border-right-width: 7px;">

<div class="d-flex" style="
    padding-bottom: 10px;
    padding-top: 25px;">
            <div class="intro-well wow animated bounceIn">
                <div class="d-flex">
                    <div>
                        <h1 class="tester">Hello AvantTek !!</h1>
                    </div></div>
                </div>
                <div class="d-flex">
                    <div>
                        <h2 style="
                             margin-bottom: 25px;
                             margin-top: 0px;">Frameworks  &amp;  Tools --  Overviews  &  Drill-Downs</h2> 
                </div>
             </div>
         </div>
    </div>
</section>
<!--////////// FEATURES SECTI ON ////////// -->
<section id="features">
    <div class="d-flex">
        <div class="callouts d-flex flex-column">
            <p class="icntitle">Platforms</p>
            <img src="~/Red/img/__i1.png" class="d-block"/>
            <h3>111111111111</h3>
            <p></p>
        </div> 
        <div class="callouts d-flex flex-column">
            <p class="icntitle">Modern Web Solution</p> 
            <img src="~/Red/img/__i2.png" class="d-block"/>
            <h3>2222222dpdpdpdpdpdpdpdpdpdppddpdpdpdpdpd222222</h3>
             <p class="icnp">h of cloud a</p>
        </div>
        <div class="img-fluid">
            <p class="icntitle">Distributed Applications</p>
            <img src="~/Red/img/i3.png" class="d-block"/>
            <h3>33333333333333</h3>
            <p></p>
        </div>
    </div>
    <div class="d-flex">
        <div class="callouts d-flex flex-column">
            <p class="icntitle">Platforms</p>
            <img src="~/Red/img/__i1.png" class="img-fluid d-block"/>
            <h3>111111111111</h3>
            <p></p>
        </div> 
        <div class="callouts d-flex flex-column">
            <p class="icntitle">Modern</p> 
            <img src="~/Red/img/__i2.png" class="img-fluid d-block"/>
            <h3>2222222222222</h3>
             <p class="icnp">h of ;dflgkspdflkgsdpgksfdpgksdfgpdkgpsldfkgpsdflkgpsdfgksdpkspdfgpoksdfgcloud a</p>
        </div>
        <div class="img-fluid">
            <p class="icntitle">Distributed Applications</p>
            <img src="~/Red/img/i3.png" class="d-block img-fluid"/>
            <h3>33333333333333</h3>
            <p></p>
        </div>
    </div>
    <div class="d-flex">
        <div class="callouts w-25 d-flex flex-column">
            <p class="icntitle">Platforms</p>
            <img src="~/Red/img/__i1.png" class="img-fluid"/>
            <h3>111111111111</h3>
            <p>wtf is with this</p>
        </div> 
        <div class="callouts w-25 d-flex flex-column">
            <p class="icntitle">Modern Web Solutions</p>
            <img src="~/Red/img/__i2.png" class="img-fluid"/>
            <h3>111111111111</h3>
            <p>wtf is with this</p>
        </div>   
            <div class="callouts w-25 d-flex flex-column">
            <p class="icntitle">Platforms</p>
            <img src="~/Red/img/__i2.png" class="img-fluid"/>
            <h3>111111111111</h3>
            <p>wtf is with this</p>
        </div> 
    </div>  
</section>
<!--////////// NEWSLETTER SECTION ////////// -->
<section id="newsletter" style="background: maroon;padding-top: 17px;padding-bottom: 0;">
    <div class="container wow animated fadeInDown">     
       <div class="row">
                <div class="col-sm-12">
                    <div Style="padding-bottom: 35px; color: white;font-size: 24px;font-weight: 300">AvantTek  --  All About Advanced Technology</div>
                </div>   
       </div>
     </div>
</section>

<!--////////// FOOTER SECTION ////////// -->
<footer>
    <p>
        Copyright © 2015 Flati. Made with <i class="fa fa-heart footer-heart"></i> by Themeberry
    </p>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script>
    $(function () {
        $(window).on("load resize", function () {
            $(".fill-screen").css("height", window.innerHeight);
        });
    });
</script>
