@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutRed";}

@model Workspace.ViewModels.vmHomeIndex
<!--/////////// HEADER SECTION //////////-->
<section id="intro">
    <div class="container" style="padding-bottom: 15px;">
        <div class="intro-well wow animated bounceIn">
            <div class="row">
                <div class="col-md-12">
                    <h1>Hello AvantTek !!</h1>
                    <h2>tester2 collaboration space for technology news and views is on the way</h2>
                    @Html.ActionLink("To The Portal", "AvantTekAlpha", "Home", null, new { @class = "btn btn-info", id = "HomeLink" });
                </div>
            </div>
        </div>
    </div><!-- /container -->
</section>
<!-- LAUNCH VERSION COMMENT START -->
<!--////////// FEATURES SECTION ////////// -->
<section id="features">
    <div style="visibility: visible; animation-name: fadeIn;" class="container wow fadeIn  animated">
        <h1>How It Works?</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque faucibus risus non iaculis. Fusce a augue ante, pellentesque pretium erat. Fusce in turpis in velit tempor pretium. Integer a leo libero.</h2>
    </div>
    <!-- /container -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.1s">
                <div class="iconbox">
                    <a href="#" class="icn-1">Devices</a>
                </div>
                <p class="icntitle">Applications</p>
                <p class="icnp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget elit eu velit vehicula feugiat. </p>
            </div><!-- /col-md-4 -->
            <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.2s">
                <div class="iconbox">
                    <a href="#" class="icn-2">Intelligence</a>
                </div>
                <p class="icntitle">Intelligence</p>
                <p class="icnp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget elit eu velit vehicula feugiat. </p>
            </div><!-- /col-md-4 -->
            <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.3s">
                <div class="iconbox">
                    <a href="#" class="icn-3">App of Year</a>
                </div>
                <p class="icntitle">Platforms</p>
                <p class="icnp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget elit eu velit vehicula feugiat. </p>
            </div>
        </div><!-- /col-md-4 -->
    </div><!-- /row -->
    <!-- /container -->
    <!-- /more-features -->
    </section>
    <!--////////// NEWSLETTER SECTION ////////// -->
    <section id="newsletter" ng-app="app-email" class="ng-scope">
        <div class="container wow animated fadeInDown ng-scope" ng-controller="emailController as vm">
            <div class="row">
                <div class="col-md-12">
                    <h3>Inviting You To The Launch of AvantTek.com</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                @*<div class="col-xs-4 offset-xs-4">*@
                <div class="col-sm-4">
                    <form novlaidate="" name="myForm" class="form-inline ng-pristine ng-valid ng-valid-email ng-valid-required"
                          ng-submit="vm.SendGridAlphaInterested(vm.email.text)">
                        <input type="email" name="input" class="input-lg ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-email ng-valid-required" ng-model="vm.email.text" required="">
                        <button ng-click="validateEmail()" type="submit" class="btn btn-primary">
                            Send Me Updates
                        </button>
                    </form>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </section>
    <!--////////// FOOTER SECTION ////////// -->
    <footer>
        <p>
            Copyright © 2015 Flati. Made with <i class="fa fa-heart footer-heart"></i> by Themeberry
        </p>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script>
        $(function () {
            $(window).on("load resize", function () {
                $(".fill-screen").css("height", window.innerHeight);
            });
        });
    </script>
